@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Prj.Net6.Service.DTO.ProjectDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProjectDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Project", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PName" class="control-label">Name: </label>
                @Html.TextBoxFor(m => m.PName)
                <span asp-validation-for="PName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDescription" class="control-label">Description: </label>
                @Html.TextBoxFor(m => m.PDescription)
                <span asp-validation-for="PDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Create</button>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}